@use 'variables';

/* Background Animation */
.background-globes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.globe {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.6;
    animation: float 18s infinite ease-in-out;
}

.globe-1 {
    width: 300px;
    height: 300px;
    background: var(--primary-color);
    top: -50px;
    left: -50px;
    animation-delay: 0s;
}

.globe-2 {
    width: 400px;
    height: 400px;
    background: var(--secondary-color);
    bottom: -100px;
    right: -100px;
    animation-delay: -5s;
}

.globe-3 {
    width: 200px;
    height: 200px;
    background: #ec4899; /* Pink */
    top: 40%;
    left: 60%;
    animation-delay: -10s;
}

@keyframes float {
    0%, 100% { transform: translate(0, 0) scale(0.7); }
    33% { transform: translate(30px, -50px) scale(1.2); }
    66% { transform: translate(-20px, 20px) scale(0.7); }
}
