@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html {
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    touch-action: manipulation;
    position: relative;
}
