@use 'variables';
@media (max-width: 480px) {
  .container{
    width: 97% !important;
    max-width: 100% !important;
    padding: 1.5rem 0.5rem 1.5rem !important;
  }

  .globe-1 {
    width: 250px;
    height: 250px;
}
ยง
.globe-2 {
    width: 300px;
    height: 300px;
}

.globe-3 {
    width: 150px;
    height: 150px;
}
}